@font-face {
    font-family: Quicksand;
    src: url("fonts/Quicksand/static/Quicksand-Regular.ttf");
}

body {
    font-family: Quicksand;
}

.app {
    margin-top: 50px;
}

#searchBox {
    width: 79%
}

